body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}



a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
button {
    cursor: pointer;
}

/* загальне */
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.subscribe-btn-icon {
    width: 24px;
        height: 24px;
        margin-left: 16px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9999;
}
.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 408px;
    min-height: 584px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    background-color: #FCFCFC;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
    width: 8px;
    height: 8px;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 8px;
}

.comment-group {
    margin-bottom: 16px;
}

.form-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #8e8f99;
    margin-bottom: 4px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 12px;
    color: #2e2f42;
    background: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.input-wrapper:focus-within .form-input {
    border-color: #4d5ae5;
}

.input-wrapper:focus-within .input-icon {
    fill: #4d5ae5;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    font-family: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-sizing: border-box;
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    fill: transparent;
}

input[type="checkbox"]:checked+.privacy-label .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.submit-btn {
    min-width: 169px;
    height: 56px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: #404bbf;
}
/* хедер */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-decoration: none;
}

.header-logo {
    padding: 17.5px 0;
    display: block;
}

.header-logo .logo-accent {
    color: #2e2f42;
}

.burger-btn {
    padding: 24px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
    width: 24px;
    height: 24px;
}

.nav-list .list,
.contacts-address {
    display: none;
}

@media screen and (max-width: 767px) {
.nowrap {
        white-space: normal;
    }
    .paragraf {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-align: left;
            font-weight: 400;
        }
    .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            max-width: 408px;
            min-height: 584px;
            box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14);
            background-color: #FCFCFC;
            border-radius: 4px;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            padding: 72px 16px 16px 16px;
        }
    .burger-btn {
            display: none;
        }
    
        .mobile-menu {
            display: none;
        }
                  .feature-icon {
                      display: none;
                  }
    }
 
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 999;
        padding: 72px 16px 40px;
        display: flex;
        flex-direction: column;

        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }
    
        .mobile-menu-close {
            position: absolute;
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e7e9fc;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            padding: 0;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .mobile-menu-close:hover,
    .mobile-menu-close:focus {
        background-color: #404bbf;
    }
        .mobile-menu-close:hover .close-icon,
        .mobile-menu-close:focus .close-icon {
            fill: #ffffff;
        }
    
    .mobile-nav {
        margin-bottom: auto;
    }
    
    .mobile-nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .mobile-nav-item:not(:last-child) {
        margin-bottom: 40px;
    }
    
    .mobile-nav-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-nav-link:hover,
    .mobile-nav-link:focus {
        color: #404bbf;
    }
    
    .mobile-nav-link.current {
        color: #404bbf;
    }
    
    .mobile-contacts {
        margin-bottom: 48px;
        font-style: normal
    }
    
    .mobile-contacts-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .mobile-contacts-item:not(:last-child) {
        margin-bottom: 24px;
    }
    
    .mobile-contacts-link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-contacts-link:hover,
    .mobile-contacts-link:focus {
        color: #4d5ae5;
    }
    
    .mobile-contacts-link.accent {
        color: #4d5ae5;
    }
    
    .mobile-social {
        display: flex;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .mobile-social-item {
        width: 40px;
        height: 40px;
    }
    
    .mobile-social-link {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .mobile-social-link:hover,
    .mobile-social-link:focus {
        background-color: #404bbf;
    }
    
    .mobile-social-icon {
        fill: #f4f4fd;
    }
    
    
    /* Стили для бургер кнопки */
    .burger-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    @media screen and (min-width: 768px) {
        .burger-btn {
            display: none;
        }
    
        .mobile-menu {
            display: none;
        }
    }
    
    @media screen and (min-width: 767px) {
        .nav-list .list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
        .contacts-address {
            display: block;
            font-style: normal;
        }
    
        .header-logo {
            padding: 24px 0;
        }
    
        .nav-link {
            font-weight: 500;
            color: #2e2f42;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            text-decoration: none;
        }
    
        .nav-link:hover,
        .nav-link:focus {
            color: #404bbf;
        }
    
        .nav-link.current {
            position: relative;
            color: #404bbf;
        }
    
        .nav-link.current::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
        }
    
        .contacts {
            display: flex;
            flex-direction: column;
            gap: 12px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    
        .contacts-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            text-decoration: none;
        }
    }
@media screen and (min-width: 768px) {
    .burger-btn {
       display: none;
        }
                .mobile-menu {
                    display: none;
                    
                }
     .feature-icon {
        display: none;
     }
                .list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-address {
        font-style: normal;
        display: block;
        
        }
        
        .nav-list .list {
            display: flex;
            align-items: center;
            gap: 40px;
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            flex-direction: row;
               
        }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
        }
        .nav-link {
        font-weight: 500;
        color: #2e2f42;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
        .nav-link:hover,
        .nav-link:focus {
        color: #404bbf;
                }
        
        .nav-link.current {
        position: relative;
        color: #404bbf;
                }
        
        .nav-link.current::after {
        content: '';
        width: 100%;
        position: absolute;
            left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
                }
        
        .contacts {
        font-style: normal;
        display: block;
                }
     .contacts-link:hover,
      .contacts-link:focus {
      color: #404bbf;
      
}
.nav-link {
    font-weight: 500;
    color: #2e2f42;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }
    .list {
        align-items: center;
        gap: 40px;
        flex-direction: row;
        }
    .nav-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        }
}
                /* хиро */
.hero {
margin: auto;

    margin-bottom: 96px;
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/Dark-bg-1-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 320px;
}

.hero-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
        margin: 0 auto 72px auto;
}

.hero-button {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
        
                /* футуре  */

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;

}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}

.features {
    padding: 96px 0;

}

.feature-title {
  margin: 0;
    font-weight: 700;

    font-size: 36px;

    line-height: 40px;
    text-align: center;
  color: #2e2f42;
margin-bottom: 8px; 
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
}

.paragraf {
    font-family: Roboto;
    font-weight: 500;
        
        font-size: 16px;
       
        line-height: 24px;
        letter-spacing: 0.02em;
}

.paragraf-member {
 
  line-height: 24px;
  color: #2e2f42;
  text-align: center
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* команда */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}
        
                .team-title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #2e2f42;
                    margin-bottom: 72px;
                }
        
                .team-ul {
                    display: flex;
                    flex-direction: column;
                    gap: 72px;
                    align-items: center;
                }
        
                .team-member {
                    background-color: #FFFFFF;
                    border-radius: 0px 0px 4px 4px;
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
                    text-align: center;
                    max-width: 264px;
                }
        
                .team-member img {
                    width: 100%;
                    height: 260px;
                    object-fit: cover;
                }
        
                .member-info {
                    padding: 32px 0;
                }
        
                .member {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    margin-bottom: 8px;
                }
        
                .social-links {
                    display: flex;
                    justify-content: center;
                    gap: 24px;
                    margin-top: 8px;
                }
        
                .social-item {
                    width: 40px;
                    height: 40px;
                }
        
                .social-link {
                    width: 100%;
                    height: 100%;
                    background-color: #4d5ae5;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .social-link:hover,
                .social-link:focus {
                    background-color: #404bbf;
                }
        
                .social-icon {
                    fill: #f4f4fd;
                }
        
                /* портфоліо */
                .portfolio {
                    padding: 96px 0;
                }
        
                .portfolio-title {
                    font-size: 36px;
                    line-height: 1.11;
                    text-align: center;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;
                    color: #2e2f42;
                    margin-bottom: 72px;
                }
        
                .portfolio-list {
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                }
        
                .portfolio-item {
                    background-color: #ffffff;
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
                    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .portfolio-item:hover {
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
                }
        
                .portfolio-image-container {
                    position: relative;
                    overflow: hidden;
                }
        
                .portfolio-image-container img {
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                }
        
                .overlay-text {
                position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #4d5ae5;
                    color: #f4f4fd;
                    padding: 40px 32px;
                    transform: translateY(100%);
                    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    display: flex;
                    align-items: flex-start;
                    /* вместо center */
                    justify-content: flex-start;
                    /* добавить для выравнивания по левому краю */
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    text-align: left;
                }
        
                .portfolio-item:hover .overlay-text {
                    transform: translateY(0%);
                }
        
                .portfolio-info {
                    padding: 32px 16px;
                    border: 1px solid #e7e9fc;
                    border-top: none;
                }
        
                .portfolio-name {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #2e2f42;
                    margin-bottom: 8px;
                }
        
                /* футер */
                .page-footer {
                    background-color: #2E2F42;
                    color: #F4F4FD;
                    padding: 96px 0;
                }
        
                .footer-container {
                    display: flex;
                    flex-direction: column;
                    gap: 72px;
                    text-align: center;
                }
        
                .footer-logo {
                    display: inline-block;
                    margin-bottom: 16px;
                }
        
                .footer-logo .logo-accent {
                    color: #f4f4fd;
                }
        
                .paragraf-footer {
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #F4F4FD;
                    text-align: left;
                    max-width: 264px;
                    margin: 0 auto;
                }
        
                .social-icon-title,
                .subscribe-title {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    margin-bottom: 16px;
                }
        
                .social-links-footer {
                    display: flex;
                    justify-content: center;
                    gap: 16px;
                }
        
                .social {
                    width: 100%;
                    height: 100%;
                    background-color: #4d5ae5;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .social:hover,
                .social:focus {
                    background-color: #31d0aa;
                }
        
                .subscribe-form {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
        
                .subscribe-input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #ffffff;
                    background-color: transparent;
                    font-size: 12px;
                    line-height: 2;
                    letter-spacing: 0.04em;
                    padding-left: 16px;
                    border-radius: 4px;
                    color: #ffffff;
                }
        
                .subscribe-input::placeholder {
                    color: #ffffff;
                }
        
                .subscribe-btn {
                    min-width: 165px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    color: #ffffff;
                    background-color: #4D5AE5;
                    border-radius: 4px;
                    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    margin: 0 auto;
                    border: none;
                }
        
                .subscribe-btn:hover,
                .subscribe-btn:focus {
                    background-color: #404bbf;
                    
                }
        
                /* планшет */
                @media screen and (min-width: 768px) {
                    .hero {
                         padding-top: 112px;
                            padding-bottom: 112px;
                        background-color: #2E2F42;
                            color: #FFFFFF;
                            text-align: center;
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                                url('../images/Dark-bg-min.jpg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 0 auto;
                            max-width: 768px;
                    }
                    .container {
                        max-width: 768px;
                        padding: 0 16px;
                    }
        
                    .nav-list,
                    .contacts-address {
                        display: block;
                    }
        
                    .burger-btn {
                        display: none;
                    }
                    .nav-list {
                        display: flex;
                        align-items: center;
                    }
        
                    .nav-list ul {
                        display: flex;
                        gap: 40px;
                    }
        
                    .nav-link {
                        font-weight: 500;
                        color: #2e2f42;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        padding: 24px 0;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
        
                    .nav-link:hover,
                    .nav-link:focus {
                        color: #404bbf;
                    }
        
                    .contacts-address {
                        font-style: normal;
                    }
        
                    .contacts {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }
        
                    .contacts-link {
                        color: #434455;
                        font-size: 12px;
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
        
                    .contacts-link:hover,
                    .contacts-link:focus {
                        color: #404bbf;
                    }
        
                    .hero-title {
                        font-size: 56px;
                        line-height: 1.07;
                        max-width: 496px;
                    }
        
 .features-list {
     flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
                    
.feature-item {
    width: calc((100% - 24px) / 2);
    text-align: left;
}

.feature-title {
    font-size: 36px;
    text-align: left;
}
                    

.paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    font-weight: 500;
}
        
                    .team {
                        padding: 120px 0;
                    }
        
                    .team-title {
                        text-align: center;
                     
                    }
        
                    .team-member {
                        width: calc((100% - 24px) / 2);
                    }
        
                    .member-info
{
                                            display: block;
                                            font-size: 16px;
                                            line-height: 1.5;
                                            letter-spacing: 0.02em;
                                            color: #434455;
                                            font-weight: 400;
                                            margin: 0;
                                        }
                                        
        
                    .team-ul {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 64px 24px;
                        justify-content: center;
                    }
        
                    .portfolio-list {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 72px 24px;
                    }
        
                    .portfolio-item {
                        width: calc((100% - 24px) / 2);
                    }
        
                    .footer-container {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 72px 24px;
                        text-align: left;
                        align-items: baseline;
                        padding-left: 108px;
                    }
        
                    .subscribe-form {
                        flex-direction: row;
                        gap: 24px;
                    }
        
                    .subscribe-input {
                        width: 264px;
                    }
            }
        
                /* комп */
                @media screen and (min-width: 1158px) {
                    .hero {
                        padding-bottom: 188px;
                            padding-top: 188px;
                            background-color: #2E2F42;
                            color: #FFFFFF;
                            text-align: center;
                            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                                url('../images/people-office 1-min.jpg');
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            margin: 0 auto;
                            max-width: 1440px;
                        }
                        .hero-title {
                            margin: 0 auto 48px auto;
                        }
                    .mobile-menu {
                            display: none;
                    
                        }
                                              
                    .container {
                        max-width: 1158px;
                        padding: 0 15px;
                    }
        
                    
        
                    .contacts {
                        flex-direction: row;
                        gap: 40px;
                    }
        
                    .contacts-link {
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        padding: 24px 0;
                    }
        
                                        .features {
                                            padding: 120px 0;
                                        }
                    
                                        .features-list {
                                            gap: 24px;
                                        }
                    
                                        .feature-item {
                                            width: calc((100% - 72px) / 4);
                                        }
                    
                                        .feature-icon {
                                            width: 264px;
                                                height: 112px;
                                                background-color: #f4f4fd;
                                                border: 1px solid #8e8f99;
                                                border-radius: 4px;
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                margin-bottom: 8px;
                                        }
                    
                                        .feature-title {
                                            font-weight: 500;
                                            font-size: 20px;
                                            line-height: 1.2;
                                            text-align: left;
                                        }
                    
                                        .paragraf {
                                            font-weight: 400;
                                        }
                    .team {
                        padding: 120px 0;
                    }
        
                    .team-ul {
                        gap: 24px;
                    }
        
                    .portfolio {
                        padding: 120px 0;
                    }
        
                    .portfolio-list {
                        gap: 48px 24px;
                    }
        
                    .portfolio-item {
                        width: calc((100% - 48px) / 3);
                    }
        
                    .page-footer {
                        padding: 100px 0;
                    }
        
                    .footer-container {
                        gap: 0;
                    }
        
                    .logo-wrapper {
                        margin-right: 120px;
                    }
        
                    .container-icons {
                        margin-right: 80px;
                    }
                }
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/Dark-bg@2x-min.jpg');
        /* Планшет 2x */
    }
}

@media screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1158px) and (min-resolution: 192dpi),
screen and (min-width: 1158px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/people-office 1@2x-min.jpg');
        /* Десктоп 2x */
    }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/Dark-bg@2x-1-min.jpg');
        /* Изображение для телефона 2x */
    }
}